addict==2.2.0
attrs==19.1.0
certifi==2023.7.22
chardet==3.0.4
connexion==1.4.2
Flask==2.3.2
Flask-Cors==3.0.9
Flask-PyMongo==2.3.0
inflection==0.3.1
itsdangerous==1.1.0
jsonschema==3.0.1
MarkupSafe==1.1.1
pymongo==3.8.0
pyrsistent==0.15.2
requests>=2.22.0
PyYAML==5.4
spec-synthase==0.1.11
swagger-spec-validator==2.4.3
urllib3==1.26.5
virtualenv==16.6.1
Werkzeug==2.2.3

